<!DOCTYPE html>
<html lang="en">
<head>
    <title>three.js webgl - layers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
    <ul class="nav nav-pills nav-stacked" id="nav-box">
        <li role="presentation" class="active"><a href="#content/content" onclick="menu.porClick(this)">首页</a></li>
        <li role="presentation"><a href="#curretQuery/curretQuery" onclick="menu.porClick(this)">当前查询单词</a></li>
        <li role="presentation"><a href="#bookList/bookList" onclick="menu.porClick(this)" >新编日语单词</a></li>

        <li role="presentation"><a href="#grammar/grammar" onclick="menu.porClick(this)">新编日语语法</a></li>

    </ul>
</body>
</html>
