<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="image/bookImg/3.jpg" alt="无法显示图片">
                <div class="caption">
                    <h3>第一册</h3>
                    <p>新编第一册</p>
                    <p><a href="#lesson/lesson" class="btn btn-primary" role="button">进入</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="image/bookImg/3.jpg" alt="无法显示图片">
                <div class="caption">
                    <h3>第二册</h3>
                    <p>新编第二册</p>
                    <p><a href="#" class="btn btn-primary" role="button">进入</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="image/bookImg/3.jpg" alt="无法显示图片">
                <div class="caption">
                    <h3>第三册</h3>
                    <p>新编第三册</p>
                    <p><a href="#" class="btn btn-primary" role="button">进入</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="image/bookImg/3.jpg" alt="无法显示图片">
                <div class="caption">
                    <h3>第四册</h3>
                    <p>新编第四册</p>
                    <p><a href="#" class="btn btn-primary" role="button">进入</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>