<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="panel panel-info">
        <div class="panel-heading">アイデア/アイディア(idea)</div>
        <div class="panel-body">
            <blockquote>
                <p>[名]:想法、主意</p>
                <footer>すばらしいアイデア。<cite title="Source Title">妙点子</cite></footer>
                <footer>よいアイデアが浮かぶ。<cite title="Source Title">浮现出一个好主意</cite></footer>
                <footer>类似：思いつき（おもいつき）<cite title="Source Title">「名」灵机一动，偶然想起;主意，设想，点子</cite></footer>
            </blockquote>
        </div>
    </div>
</body>
</html>